:root {
  --light-font-color: #e0e0e0;
  --dark-background: #222222;
  --background-gradient-1: #33383d;
  --background-gradient-2: #1c1d20;
  --backgroun-gradent-button-1: #ff2d04;
  --backgroun-gradent-button-2: #c13216;
}
