@import url(../colors.css);
@import url(./asideLogin.css);
@import url(./form.css);

.body-login {
  display: flex;
}

.main-login {
  box-sizing: border-box;
  color: var(--light-font-color);
  width: 50vw;
  background-image: linear-gradient(
    180deg,
    var(--background-gradient-1) 0%,
    var(--background-gradient-2) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-login > h1 {
  width: 40%;
  padding-right: 80px;
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 100px;
}

.main-login > h1 > strong {
  font-size: 3.8rem;
}
